﻿@model NotFoundChannel.ViewModels.TopViewModel
    
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <h1>404ちゃんねるへようこそ！</h1>
    <p class="explanation">このサイトは匿名掲示板です。好きな話題で盛り上がろう！</p>
</div>

<div class="message">
    {
    @foreach (var Message in Model.Messages)
    {
        <p>
            <div class="message">
                <div class="text">
                    @Html.DisplayFor(modelItem => Message.Text)
                </div>
                <div class="date">
                    @Html.DisplayFor(modelItem => Message.CreatedDate)
                </div>
            </div>
        </p>
        foreach (var Comment in Model.Comments)
        {
            if (Message.Id == Comment.MessagesId)
            {
                <p>
                    <div class="text">
                        @Html.DisplayFor(modelItem => Comment.Text)
                    </div>
                    <div class="date">
                        @Html.DisplayFor(modelItem => Comment.CreatedDate)
                    </div>
                </p>
            }
        }
        <div class="form">
            @using (Html.BeginForm("Insert", "Comment", FormMethod.Post))
            {
            <p>
                コメント入力欄<br>
                @Html.TextAreaFor(model => Model.Comment.Text, Model.Comment.Text)
                <br>
                <input type="hidden" value="Message.Id" />
                <input type="submit" value="送信" />（140文字まで）
            </p>
            }
        </div>
    }
    }
</div>

