﻿@model NotFoundChannel.ViewModels.TopViewModel 
@{
    ViewBag.Title = "Messages";
}
<h2>@ViewBag.Title.</h2>

<div class="errorMessages">
    <p>
        @foreach (var item in Model.ErrorMessage)
        {
            @Html.DisplayFor(modelItem => item)
            <br>
        }
    </p>
</div>


<div class="form">
    @using (Html.BeginForm("Insert", "Message", FormMethod.Post))
    {
        <p>
            スレッド名を入力してください！<br>
            @Html.TextAreaFor(model => Model.Message.Text, Model.Message.Text)
            <br>
            <input type="submit" value="作成" />
        </p>
    }
</div>
    }
}

