﻿body {
	background-color: #E3FFFF;
}

textarea {
	width: 300px;
	height: 10em;
}

.contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

	.profile .name {
		font-size: 20px;
		font-weight: bold;
		line-height: 36px;
		margin: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.profile .account {
		font-size: 16px;
		line-height: 22px;
	}

	.profile .description {
		font-size: 12px;
		line-height: 22px;
	}

.message .name {
	font-weight: lighter;
	font: small-caption;
}

.message .account {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.footer {
	width: 250px;
	margin: 0 auto;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}